/* COLORS
#f0ece2 -- light tan
#dfd3c3 -- medium tan
#c7b198 -- dark tan
#596e79 -- dark blue */

/* FONTS */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  margin: 0px;
}

#nav-bar {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  background-color: #596e79;
  color: white;
  height: 70px;
  align-items: center;
  margin: 0px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav-left {
  margin-left: 20px;
  font-size: 30px;
}

.nav-right {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-right: 20px;
}

.shop-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.shop-name:hover {
  cursor: pointer;
}

li{
  list-style: none;
}

.header-links:hover {
  color: #E0E0E0;
  cursor: pointer;
}

@media (max-width: 850px) {
  .nav-right {
    position: fixed;
    right: -110%;
    top: 70px;
    flex-direction: column;
    background:#596e79;
    width: 100%;
    text-align: center;
    transition: .3s;
    margin: 0px;
    border-top: solid white 3px;
    gap: 0;
  }
  
  .header-links {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: white solid;
  }
  
  .header-links:first-child {
    border: none;
  }
 
  .nav-right.show {
    right: 0;
  }

  .nav-right.hide {
    right: -110%
  }
  
  .shop-name {
    font-size: 6vw;
  }
}
   
.hamburger {
  display: none;
  margin-right: 20px;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  display: none;
}

@media (max-width: 850px) {
  .hamburger {
    display: block;
  }

  .hamburger:hover{
    cursor: pointer;
  }
  
  .bar {
    display: block;
  }
}

.hero-area {
  height: 425px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-area::before {
  background-image: url("https://images.unsplash.com/photo-1625496235025-d783abf061c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
  opacity: .7;
  background-size: cover;
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.slogan {
  color: black;
  font-size: 60px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 70px 40px 0px;
  position: relative;
}

.three-wide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  background-color: #f0ece2;
  padding: 60px;
}


@media (max-width: 800px){
  .three-wide {
    flex-direction: column;
    padding: 20px 70px 20px;
  }
}

.third-container {
    padding-left: 35px;
    padding-right: 30px;
    border-left: solid black 1px;
    width: 33%;
}

.third-container:first-child {
  border: none;
}

.third-container-title {
  font-size: 25px;
  margin-top: 10px;
}

@media (max-width: 800px){
  .third-container {
    border-left: none;
    border-top: black solid 1px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
  }
}

/* GRID */

.gallery-title {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 100;
  text-align: center;
  font-size: 55px;
  margin: 0px;
  padding: 40px 20px 20px;
  border-top: solid #596e79 5px;
  scroll-margin-top: 70px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

@media (max-width: 800px){
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-image {
  height: 325px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
}

.project-image:hover {
  opacity: 1;
}

.project-image-1 {
  background-image: url("images/bowl_1.jpg");
}

.project-image-2 {
  background-image: url("images/bowl_2.jpg");
}

.project-image-3 {
  background-image: url("images/bowl_3.jpg");
}

.project-image-4 {
  background-image: url("images/bowl_4.jpg");
}

.project-image-5 {
  background-image: url("images/boxes.jpg");
}

.project-image-6 {
  background-image: url("images/candles.jpg");
}

.project-image-7 {
  background-image: url("images/goblet.jpg");
}

.project-image-8 {
  background-image: url("images/jumble.jpg");
}

.project-image-9 {
  background-image: url("images/pens.jpg");
}

.project-image-10 {
  background-image: url("images/vase_1.jpg");
}

.project-image-11 {
  background-image: url("images/vase_2.jpg");
}
.project-image-12 {
  background-image: url("images/vase_3.jpg");
}

#jump-dave {
  scroll-margin-top: 70px;
}

.about-dave {
  text-align: center;
  width: 1000px;
  margin: auto;
  max-width: 100%;
}

.bio {
  padding: 0px 50px 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
}

.about-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 100;
  margin: 10px 0px 10px;
  border-top: solid #596e79 5px;
  padding-top: 30px;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 15px;
}

.fingers-container {
  background-color: #c7b198;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.fingers {
  color: white;
  margin: 10px 50px;
  padding: 15px;
  font-size: 40px;
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;

}

@media (max-width: 850px){
  .fingers-container {
    flex-direction: column;
    padding: 15px
  } 
  
  .fingers {
    margin: 0;
    padding: 10px 30px;
    font-size: 6vw;
  }
}

.contact-dave {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.form-row-1 {
  display: flex;
}

.input-1, .input-2 {
  display: flex;
  flex-direction: column;
}

.input-2 {
  margin-left: 30px;
}

.form-row-2, .form-row-3 {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.why-contact {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  margin: 0px 30px 80px 110px;
  background-color: #f0ece2;
  border: solid #596e79 1px;
  border-radius: 2%;
}

.contact-box-text {
  padding: 60px;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  color: #596e79;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

fieldset {
  padding: 20px 40px;
  border: solid 1px #ccc;
  border-radius: 6px;
  min-width: 500px;
  font-family: 'Raleway', sans-serif;
  margin: 0px 110px 80px 50px;
}

legend {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  padding: 0 .25em;
  color: #596e79;
}

input[type="text"]{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding: 4px;
}

input[type="email"]{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding: 4px;
}

textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding: 4px;
}

#submit {
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  background-color: #596e79;
  color: white;
  border: none;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 5%;
}

#submit:hover {
  cursor: pointer;
  background-color: #718b99;
}

#errors {
  margin-left: 0px;
  padding-left: 0px;
}

@media (max-width: 850px){
  .contact-dave{
    flex-direction: column;
    margin: auto;
  }
  .form-row-1 {
    flex-direction: column;
  }
  
  .input-2{
    margin-top: 15px;
    margin-left: 0px;
  }

  .why-contact {
    margin: 20px 50px 40px 50px;
  }

  .contact-box-text {
    padding: 40px 30px 40px 30px;
    margin: 0px
  }

  fieldset {
    margin: 20px 30px 40px 30px;
    min-width: 300px;
  }
  
}

.social-media {
  background-color:#596e79;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 90px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.social-media-line-one {
  display: flex;
  margin: 0;
  padding: 0;
}

.icons{
  margin-left: 30px;
}
.fa {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

